@model Restaurant

<section>
    <h3>@Model.Name</h3>
    <div>
        Cuisine: @Model.Cuisine
    </div>
    <div>
        <a asp-action="details" asp-route-id="@Model.Id">More</a>

    </div>
</section>
