@model MovieListNA20.ViewModels.RestaurantIndexViewModel

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body> 

        <h1>@Model.CurrentMessage</h1>

        @foreach(var restaurant in Model.Restaurants)
        {
            @Html.Partial("_summary", restaurant);
        }


<div>
    <a asp-action="create">Add Restaurant</a>
</div> 

</body>
</html>


